* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, monospace;
}

.section-one {
    background-color: #1f2937;
    padding: 0 350px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 25px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.one-info {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    gap: 100px
}

.section-one-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

button {
    max-width: 100px;
    background-color: #3882f6;
    padding: 7px 20px;
    border: 0px;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
}

.placeholder {
    background-color: gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.herosecondary {
    font-size: 18px;
    color: #e5e7eb;
}

.section-two h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.box {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.boxes-1,
.boxes-2,
.boxes-3,
.boxes-4 {
    max-width: 150px;
    text-align: center;
}

.box-text {
    padding-top: 12px;
    padding-bottom: 150px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 650px;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
}

.quote p {
    max-width: 400px;
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px
}

.call-to-action {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 50px 100px;
    display: flex;
}

.call-button {
    border: 2px solid #e5e7eb;
    margin-left: 150px;
}

.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 30px;
    text-align: center;
}